<div>
  <h1>{{ name }}</h1>
  <h2>Capital: {{ capital }}</h2>
  <h2>Population: {{ population }}</h2>
  Languages:
  <ul>
    {{#each languages}}
      <li>{{ name }}</li>
    {{/each}}
  </ul>
</div>
<div><img src="{{flag}}" alt="{{name}}" width="500"></div>
